@import "tailwindcss";


/* in styles.css or App.css */
.slick-dots li button:before {
  font-size: 16px;
  color: #4b5563; /* Tailwind's gray-600 */
}

.slick-dots li.slick-active button:before {
  color: #1f2937; /* Tailwind's gray-800 */
}

